---
import Award from './Award.astro'

const {title, description, icon, link, awards = [], year} = Astro.props;
// awards is a list of objects with keyvalues of icon and description
---
<div class="outer-container">
    <div class ="project-container">
        <div>
            <a href = {link} target= "_blank">
                <img class ="direct-arrow" 
                    src = "../../../static/icons/direct_arrow.svg" 
                    alt="direct arrow" />
            </a>
        </div>
        <div class ="info-container">
            <div class="title-container">
                <div class="title-icon-container">
                    <img class ="title-icon" src= {icon} alt = {icon} />
                </div>
                <h1 class="project-title">{title}</h1>
            </div>
            <p class="project-description">{description}</p>
            <div class="award-container">
                {awards.map((award: any) => 
                    (<Award icon = {award.icon} description = {award.description} />)   
                )}
            </div>
        </div>
        <div class= "img-container">
            <img class="project-icon" src = {icon} alt = {icon}>
        </div>
    </div>
    <div class ="marker"></div>
    <div class ="year"><p>{year}</p></div>
</div>


<style>
    :root {
		--color-primary-black: #042a2b;
		--color-primary-green: #afdbbf;
		--color-primary-orange: #ffdab9;
		--color-primary-purple: #babcd5;
		--color-primary-yellow: #fbf8dd;
		--color-primary-peach: #f7dfca;

		--color-secondary-black: #373f57;
		--color-secondary-green: #d8f0e2;
		--color-secondary-orange: #fff0e2;
		--color-secondary-purple: #e4e6fc;
		--color-secondary-yellow: #fffef3;
		--color-secondary-peach: #fdf2e9;

		--background-color: #ffffff;
		--text-color-primary: var(--color-primary-black);
		--text-color-secondary: var(--color-secondary-black);
		--border-color: var(--color-primary-black);

		--max-width: 1440px;
		--border-width: 2px;
		--border-radius-sm: 5px;
		--border-radius-md: 10px;

        /* newly added tokens */
        --border-radius-lg: 20px;
    }

    * {
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
    .direct-arrow {
        position:absolute; 
        top: 1.2rem;
        right:1.2rem;
        width: 2.2rem;
        height:2.2rem;
        opacity: 0.8;
        cursor: pointer;
        /* This color can be a global variable */
    }

    .marker {
        position:absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        top: calc(50% + 2rem);
        transform: translateY(-50%);
        left:-9px;
        background: black;
    }

    .year {
        /* background: red; */
        font-size: 1.125rem;
        /* font-family: Poppins; */
        position: absolute;
        text-align: center;
        justify-content: center;
        display: flex;
        justify-content:center;
        width: auto;
        height: auto;
        top: calc(50% + 2rem);
        transform: translateY(-50%);
        left: calc(-5.5rem);
        font-weight: 500;
        font-family: "Poppins";
    }

    .direct-arrow:hover {
        opacity: 0.6;
    }

    .outer-container {
        width: 100%;
        padding-left: 4rem;
        padding-top: 4rem;
        position: relative;
    }

    .project-container {
        width:90%;
        min-height:10rem;
        background:var(--color-primary-yellow);  
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding: 2.8rem;
        border: 2px solid var(--color-primary-black);
        /* border-radius:0.6rem; */
        border-radius: var(--border-radius-md);
        min-width: 340px;
        box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5.3px;
        position:relative;
        z-index: 30;
    }

    .info-container {
        display:flex;
        flex-direction: column;
        width:65%;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
    }

    .title-icon-container {
        width: auto;
        height: 3rem;
        display: none;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .title-icon {
        height: 100%;
        max-width: calc(330px - 6rem);  
    }

    .img-container {
        width: 35%;
        display:flex;
        align-items: center;
        flex: 1 1 180px;
        padding: 3rem;
        max-width: 330px;
    }

    .award-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        min-height: 120px;
    }

    .project-title {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
        font-family: "Poppins"
    }

    .project-description {
        font-size: 1.25rem;
        margin-bottom:0.6rem;
        font-family: "Open Sans", sans-serif;
    }
    
    .project-icon {
        width:100%;
        display:block;
    }

    @media (max-width: 880px) {
        .outer-container {
            padding-top: 6rem;
        }
        .info-container {
            width:100%;
        }

        .marker {
            top: 4rem;
            left: 8%;
        }

        .year {
            top: 4rem;
            font-size: 2rem; 
            left: calc(13%);
            font-weight: bold;
        }
        
        .outer-container {
            padding-left:0rem;
        }

        .project-title {
            font-size: 2.5rem;
        }

        .project-container {
            /* border-radius: var(--border-radius-lg); */
            border-radius: var(--border-radius-md);
        }

        .img-container {
            display: none;
        }

        .title-icon-container {
            max-width: 330px;
            display:block;
        }
    }
</style>
