---
import Layout from "../layouts/Layout.astro";
import galleryImages from "../data/gallery/images.json"
---
<Layout title="Gallery">
    <div class="title-container">
        <h1 id="page-title">Gallery</h1>
    </div>

    <div class="photo-container">
        <div class="masonry">
            {galleryImages.map((imageInfo) => (
                <div class="item">
                    {/* <img src={`../../../static/past-project-icons/${imageInfo.src}`} alt={imageInfo.alt} /> */}
                    <img src={`${imageInfo.src}`} alt={imageInfo.alt} />
                    <p class="image-description">{imageInfo.alt}</p>
                </div>
            ))}
        </div>
    </div>
</Layout>

<style>
    * {
        margin:0;
        padding:0;
        --item-width: 300px;
    }

    .title-container {
        background:var(--color-primary-green);
        border-bottom:2px solid black;
        padding:5rem 2.1rem 5rem 7.938rem;
    }

    #page-title {
        font-size: 4.688rem;
    }

    .photo-container{ 
        width:100%;
        padding: 1.5rem;
    }

    .masonry {
        column-width: var(--item-width);
        column-gap: 1.5rem;
        padding: 1rem;
    }

    .item {
        background-color: white;
        border-radius: var(--border-radius-sm);
        margin-bottom: 1.5rem;
        break-inside: avoid;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        position:relative;
        transition: all 0.3s ease-in-out;
    }

    .item:hover {
        transform: translateY(-2px);
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    }

    .item .image-description {
        display:none;
        font-size: 1rem;
        color:white;
        position:absolute;
        left: 1rem;
        bottom: 1rem;
        margin-right: 1rem;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .item:hover .image-description {
        display: block;
    }

    .item img {
        border-radius: inherit;
        width:100%;
        height:auto;
        display:block;
        border: var(--black-border);
    }

    @media(max-width:880px) {
         #page-title {
            font-size: 3.889rem;
        }

        .title-container {
            padding-left: 4rem;
        }
    }

</style>