---
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { pastProjects } from '../data/pastProjects.ts'
---

<Layout title="Past Projects">
  <section>
    <h1 class="page-title">Past Projects</h1>
    <div class="timeline">
      {
        pastProjects.map(project => (
          <ProjectCard
            title={project.title} 
            description = {project.description}
            icon={`static/past-project-icons/${project.icon}`}
            awards={project.awards}
            link={project.link}
            year={project.year}
          />
        ))
      }
    </div>
    <div class="timeline-spacer" />
  </section>
</Layout>
