---
import ProjectBlock from "../components/pastProjectsComponents/ProjectBlock.astro";
import { pastProjects } from "../data/pastProjects.ts"
import Layout from '../layouts/Layout.astro';
---

<Layout title="UBC iGEM">
    <div class= "title-container">
        <h1 id="page-title">Past Projects</h1>
    </div>
    <div class="master-container">
        <div class="line">
        </div>
        <div class= "content">
            {
                pastProjects.map((project)=> (
                    <ProjectBlock 
                        title = {project.title} 
                        description = {project.description}
                        icon = {project.icon}
                        awards = {project.awards}
                        link = {project.link}
                        year = {project.year}
                    />
                ))
            }
        </div>
    </div>
</Layout>

<style>
    * {
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
    header {
        height:20vh;
        background-color:beige;
    }
    footer {
        height:20vh;
        background-color:beige;
    }
    
    #page-title {
        font-size: 4.688rem;
        font-family: "Poppins";
    }

    .title-container {
        border-bottom:3px solid black;
        padding:5rem 2.1rem 2.5rem 7.938rem;
    }

    .master-container {
        padding: 0;
        margin: 0;
        padding-left: 16%;
        position:relative;
    }

    .content {
        position:relative;
        padding-bottom: 8rem;
    }

    .line {
        border-left:3.5px solid black;
        padding-bottom: 5rem;
        z-index: 10;
        height: 100%;
        left: 15.75%;
        position:absolute;
    }

    @media (max-width: 880px) {
        .master-container {
            padding-left:0;
        }

        .content {
            padding-left:5%;
            padding-bottom: 4rem;
        }

        .line {
            left: 13.5%;
        }

        .title-container {
            padding-left: 2rem;
        }
    }
</style>