---
import Award, { type AwardProps } from './Award.astro'

const {title, description, icon, link, awards = [], year} = Astro.props as Props;
export interface Props {
    title: string,
    description: string,
    icon: string,
    link: string, 
    awards: AwardProps[],
    year: string
}
---
<div class="outer-container">
    <div class ="project-container">
        <div class="line-block">
            <p class="year">{year}</p>
            <div class ="marker"></div>
        </div>
        <div class="info-block">
            <a href = {link} target= "_blank" class={link===""? "no-link":""}>
                <div class="project-block">
                    {link===""? <></> : 
                        <div>
                            <img class ="direct-arrow" 
                                src = "../../../static/icons/direct_arrow.svg" 
                                alt="direct arrow" />
                        </div>
                    }
                    <div class ="info-container">
                        <div class="title-container">
                            <div class="title-icon-container">
                                <img class ="title-icon" src= {icon} alt = {icon} />
                            </div>
                            <h1 class="project-title">{title}</h1>
                        </div>
                        <p class="project-description">{description}</p>
                        <div class="award-container">
                            {awards.map((award: AwardProps) =>  
                                (<Award icon = {`../../../static/award-icons/${award.icon}`} description = {award.description} />)   
                            )}
                        </div>
                    </div>
                    <div class= "img-container">
                        <img class="project-icon" src = {icon} alt = {icon}>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>

<style>
    * {
        padding:0;
        margin:0;
        box-sizing: border-box;

        --marker-size: 15px;
        --max-icon-container-size: 330px;
        --title-icon-container-padding: 3rem;
        --year-horizontal-shift: 5rem;
        
        --marker-horizontal-shift: -9px;

        --outer-container-web-padding:4rem;
        --outer-container-mobile-padding:6rem;

        --project-container-padding:2.8rem;
        --project-container-min-height:10rem;
        --project-container-min-width:340px;

        --arrow-size:2.2rem;

        --info-container-web-width:65%;
        --info-container-mobile-width:100%;

        --award-container-min-height:120px;

        --line-width: 3.5px;

        --project-block-padding-top: 5rem;
        --project-block-screen-proportion: 83%;
        --line-block-screen-proportion:17%;
    }

    .no-link{
        pointer-events:none;
    }

    .direct-arrow {
        position:absolute; 
        top: 1.2rem;
        right:1.2rem;
        width: var(--arrow-size);
        height: var(--arrow-size);
    }

    .marker {
        position:absolute;
        width:var(--marker-size);
        height: var(--marker-size);
        border-radius: 50%;
        top: calc(50% + calc(var(--project-block-padding-top)/2) - calc(var(--marker-size)/2));
        right:var(--marker-horizontal-shift);
        background: black;
    }

    .direct-arrow:hover {
        opacity: 0.8;
    }

    .outer-container {
        width: 100%;
        padding: 0 var(--outer-container-web-padding) 0 0;
    }

    a{
        width:100%;
    }

    .info-block {
        width:var(--project-block-screen-proportion);
        padding-top: var(--project-block-padding-top);
        padding-left: 4rem;
    }

    .project-container{
        display:flex;
        flex-direction: row;
        width:100%;
    }

    .line-block {
        width:var(--line-block-screen-proportion);
        border-right: var(--line-width) solid black;
        position:relative;
        display:flex;
        align-items: center;
        justify-content: right;
    }

    .year {
        margin-top:var(--project-block-padding-top);
        margin-right: 2rem;
        font-weight:500;
        font-size: 1.125rem;
    }

    .project-block{
        width:100%;
        min-height:var(--project-container-min-height);
        background:var(--color-primary-yellow);  
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding: var(--project-container-padding);
        border: 2px solid var(--color-primary-black);
        border-radius: var(--border-radius-md);
        min-width: var(--project-container-min-width);
        box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5.3px;
        position:relative;
    }

    .info-container {
        display:flex;
        flex-direction: column;
        width:var(--info-container-web-width);
    }

    .title-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
    }

    .title-icon-container {
        width: auto;
        height: 3rem;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .title-icon {
        height: 100%;
        max-width: calc(var(--max-icon-container-size) - 2* (var(--title-icon-container-padding)));  
    }

    .img-container {
        width: 35%;
        display:flex;
        align-items: center;
        flex: 1 1 180px;
        padding: var(--title-icon-container-padding);
        max-width: var(--max-icon-container-size);
    }

    .award-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        min-height: var(--award-container-min-height);
    }

    .project-title {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
        font-family: "Poppins"
    }

    .project-description {
        font-size: 1.25rem;
        margin-bottom:0.6rem;
        font-family: "Open Sans", sans-serif;
    }
    
    .project-icon {
        width:100%;
        display:block;
    }

    @media (max-width: 880px) {
        .outer-container {
            padding-top: var(--outer-container-mobile-padding);
            padding-right:2rem;
        }

        .info-container {
            width:var(--info-container-mobile-width);
        }

        .marker {
            left:var(--marker-horizontal-shift);
        }

        .year {
            font-size: 1.6rem; 
            font-weight:600;
            margin-left: calc(var(--year-horizontal-shift)/2);
        }
        
        .outer-container {
            padding-top:0;
        }

        .project-title {
            font-size: 2.5rem;
        }

        .project-container {
            border-radius: var(--border-radius-md);
            flex-wrap:wrap;
        }

        .info-block {
            padding-top:0;
            width:100%;
        }

        .project-block{
            margin-top: 0;
        }

        .line-block {
            border-left: var(--line-width) solid black;
            border-right: 0;
            margin-left:7rem;
            width:auto;
        }

        .img-container {
            display: none;
        }

        .title-icon-container {
            max-width: var(--max-icon-container-size);
            display:block;
        }
    }
</style>
